 <!-- ******HEADER****** --> 
    <header class="header">
        <div class="container">                       
            <img class="profile-image img-responsive pull-left" src="assets/images/profile.png" alt="Vadivel Chinnasamy" />
            <div class="profile-content pull-left">
                <h1 class="name">Vadivel Chinnasamy</h1>
                <h2 class="desc">Senior Software Engineer</h2>   
                <ul class="social list-inline">
                    <li><a href="https://twitter.com/admcrvadivel"><i class="fa fa-twitter"></i></a></li>                   
                    <li><a href="https://plus.google.com/u/0/+vadivelc"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/vadivel-chinnasamy-ba921534"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/crvadivel"><i class="fa fa-github-alt"></i></a></li>                  
                    <li class="last-item"><a href="https://www.facebook.com/crvadivel.chinnasamy"><i class="fa fa-facebook"></i></a></li>                 
                </ul> 
            </div><!--//profile-->
            <div class="action-container pull-right">
            <a class="btn btn-cta-primary pull-left marg-rgt" href="mailto:crvadivel@aol.com"><i class="fa fa-paper-plane"></i> Hire Me</a>
            <a class="btn btn-cta-secondary pull-right" href="assets/images/resume/Senior_Software_Engineer.pdf" target="_blank"><i class="fa fa-download"></i> Download my resume</a>              
            </div>
          </div><!--//container-->
    </header><!--//header-->
